/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.div.container {
  margin: 0px 40 px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.normal-form {
  margin: 10px;
}

.controles-container{
  width: 100%;
  padding: 5%;
}


/*  sve komponente imaju 100% sirinu (> *)             */
.controles-container > * {
  width: 100%;

}

.add-bottom-padding {
  padding: 10px;
  margin-top: 10px;
}

mat-radio-group mat-radio-button {
  margin-left: 10px;
  margin-top: 10px;
}

.button-row button {
  margin: 5px;
}

/* notification */
snack-bar-container.uspjesno {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}
